body, div {
  margin:0px;
}

.axisTicks path,
.axisTicks line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axisTicks text {
    font-family: sans-serif;
    font-size: 10px;
    fill:none;
}

.axisTicksSmall path,
.axisTicksSmall line {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
}

.axisTicksSmall text {
    font-family: sans-serif;
    font-size: 10px;
    fill:grey;
}

.axismain path,
.axismain line,
.axismain text {
    fill: none;
}
